.app {
  width: 970px;
  position: relative;
  border: 0.6px solid whitesmoke;
  margin: 0px auto;
  display: block;
  padding: 0px;
  margin-bottom: 50px;
}

.page-title {
  font-weight: 300;
  text-align: center;
}

.title-tempus {
  font-size: 40px;
  font-weight: 600;
}

.headings-wrapper {
  width: 60%;
  margin-left: 35%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.medium {
  color: rgb(121, 121, 121);
}

.minor {
  color: rgb(187, 187, 187);
}

.timeline-line {
  width: 80%;
  margin-left: calc(20% - 3px);
  height: 2000px;
  border-left: 3px solid grey;
  position: relative;
}

.timeline-marker {
  width: 40px;
  height: 4px;
}

.marker-caption {
  position: absolute;
  left: -200px;
  width: 180px;
  margin: 0px;
  top: -10px;
  text-align: right;
}

.event-description-wrapper {
  width: 150px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}